In [26]:
import numpy as np
import  pandas as pd
boolean=[True,False]
gender=["male","female"]
color=["white","black","yellow"]
data=pd.DataFrame({
    "height":np.random.randint(150,190,100),
    "weight":np.random.randint(40,90,100),
    "smoker":[boolean[x] for x in np.random.randint(0,2,100)],
    "gender":[gender[x] for x in np.random.randint(0,2,100)],
    "age":np.random.randint(15,90,100),
    "color":[color[x] for x in np.random.randint(0,len(color),100) ]
}
)
data

    height  weight  smoker  gender  age   color
0      150      45    True  female   45   black
1      160      67    True    male   81   black
2      161      54   False    male   41  yellow
3      152      71    True    male   32   black
4      187      46    True  female   88   black
..     ...     ...     ...     ...  ...     ...
95     159      41   False  female   33   white
96     170      62    True    male   20   white
97     171      85    True    male   75   white
98     152      56    True    male   19   black
99     172      78    True  female   38   black

[100 rows x 6 columns]

In [27]:
data["gender"] = data["gender"].map({"male":1, "female":0})
data.head(10)

   height  weight  smoker  gender  age   color
0     150      45    True       0   45   black
1     160      67    True       1   81   black
2     161      54   False       1   41  yellow
3     152      71    True       1   32   black
4     187      46    True       0   88   black
5     163      63    True       0   23   white
6     168      49   False       0   72   white
7     152      50   False       0   36   white
8     152      45    True       1   84   black
9     156      47    True       0   22   black

In [28]:
def apply_age(x,bias):
    return x+bias
#以元组的方式传入额外的参数
data["age"] = data["age"].apply(apply_age,args=(-3,))
data